{% extends "BDSImageBundle::layout.html.twig" %}

{% block title %}
  suppression - {{ parent() }}
{% endblock %}


{% block bdsimage_body %}
<h2>Suppression</h2>
<p class="well">l'image: {{ image.nom }} a été supprimé avec succès</p>
 {%  endblock %}