<div class="panel panel-default">	
	<div class="panel-heading"><h2>évènements à venir</h2></div>
	<div class="panel-body">
		<ul class="list-unstyled">
			{% for evenement in evenements %}
				<li>
					<a class="btn btn-sm btn-primary" href="{{ path('bds_evenement_view', {'id':evenement.id, 'nom': domaine.nom}) }}">{{ evenement.nom }}</a>
				    {{ evenement.debutEvenement|date('d/m/Y') }}
				</li>
				<hr>
			{% endfor %}
		</ul>
	</div>
</div>
