{% extends "BDSCoreBundle::layout.html.twig" %}

{% block title %}
	Evenements de {{ domaine.nom }}
{% endblock %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title"><h2>Evenements de {{ domaine.nom }}</h2></div>
	</div>
	<div class="panel-body">
		<table class="table table-stiped table-bordered table-hover col-lg-12">
			<tbody>
				{% for event in listEvents %}
				<tr>
					<td>
						<p><a href="{{ path('bds_evenement_view', {'nom': domaine.nom, 'id':event.id}) }}">{{ event.nom }}</a></p>
					</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-danger"><span class="glyphicon glyphicon-remove"/> Supprimer</a>
							<a class="btn btn-warning"><span class="glyphicon glyphicon-pencil"/> Editer</a>
							<a class="btn btn-primary"><span class="glyphicon glyphicon-ok"/> Valider</a>
						</div>
					</td>
				</tr>
				{%  else %}
				<tr>
					<th>
						<p> Si vous voulez faire des choses ensemble il va falloir penser à creer des évènements !</p>
					</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock %}