{% extends "BDSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h2>supprimer un sport</h2>
<div class="well"> le sport {{ membre.sport.nom }} a été supprimé de la liste des sports de {{ membre.user.username }}</div>
{% endblock %}