{# src/BDS/NewsmBundle/Resources/views/layout.html.twig #}

{% extends "BDSCoreBundle::layout.html.twig" %}

{% block title %}
  News - {{ parent() }}
{% endblock %}

{% block body %}
	{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  	<div class="col-md-8">
  		<div class="">
  		{% block bdsnews_body %}
  		{% endblock %}
  		</div>
  	</div>
  	<div id="aside" class="col-md-4">
    	<div class="">
			{% block aside %}
			{# à modifier quand on fera le filtre en fonction de l'uilisateur #}
				{% if domaine is defined %}
					{{ render(controller("BDSEvenementBundle:Evenement:aside", {'domaine': domaine.nom})) }}
				{% endif %}		
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript" src="{{ asset('js/miniCal.js') }}"></script>

{% endblock %}