{% extends "BDSCoreBundle:Sport:layout.html.twig" %}

{% block title %}
  Supprimer - {{ parent() }}
{% endblock %}

{% block bds_sport_body %}
<h2>Ajouter un sport</h2>
<div class="well">
	le sport {{ sport.nom }} a été supprimé avec succès.
</div>
{% endblock %}