{% extends "BDSSponsorBundle:Sponsor:layout.html.twig" %}

{% block title %}
  Ajouter - {{ parent() }}
{% endblock %}

{% block bds_sponsor_body %}
<h2>Ajouter un sponsor</h2>
<div class="well">
	{{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
	{{ form_rest(form) }}
	<button type="submit" class="btn btn-primary">enregistrer le sponsor</button>
	{{ form_end(form) }}
</div>
{% endblock %}