bds_news_home:
    path:     /{nom}/news/accueil/{page}
    defaults: { _controller: BDSNewsBundle:News:index, page: 1, nom: 'bds' }
    requirements:
        page: \d*
    
bds_news_view:
    path:     /{nom}/news/{id}
    defaults: { _controller: BDSNewsBundle:News:view }
    requirements:
        id: \d*
    
bds_news_add:
    path:     /{nom}/news/add
    defaults: { _controller: BDSNewsBundle:News:add }
    
bds_news_edit:
    path:     /{nom}/news/edit/{id}
    defaults: { _controller: BDSNewsBundle:News:edit }
    requirements:
        id: \d*
        
bds_news_delete:
    path:     /{nom}/news/delete/{id}
    defaults: { _controller: BDSNewsBundle:News:delete }
    requirements:
        id: \d*
        
bds_news_validate:
    path:     /{nom}/news/validate/{id}
    defaults: { _controller: BDSNewsBundle:News:validate }
    requirements:
        id: \d*
bds_capitaine_news:
    path:     /capitaine/{nom}/news
    defaults: {_controller: BDSNewsBundle:News:CapitaineNews }

bds_home_page:
    pattern: /
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: bds_news_home
        permanent: true # this is for 301

