body {
	margin-top:50px;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:400
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}
.intro-message-lite {
    position: relative;
    padding-top: 0%;
    padding-bottom: 0%;
}

.intro-message > h1, .intro-message-lite > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}
.box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: rgba(240, 240, 240, 0.9) none repeat scroll 0% 0%;
    border-style: solid;
}