bds_evenement_homepage:
    path:     /hello/{name}
    defaults: { _controller: BDSEvenementBundle:Default:index }
    
bds_evenement_index:
    path:     /{domaine}/evenement/{page}
    defaults: { _controller: BDSEvenementBundle:Evenement:index, page: 1 }
    requirements:
        page: \d*
    
    
bds_evenement_view:
    path:     /{domaine}/evenement/view/{id}
    defaults: { _controller: BDSEvenementBundle:Evenement:view }
    requirements:
        id: \d*
    
bds_evenement_add:
    path:     /{domaine}/evenement/add
    defaults: { _controller: BDSEvenementBundle:Evenement:add }
    
bds_evenement_delete:
    path:     /{domaine}/evenement/delete/{id}
    defaults: { _controller: BDSEvenementBundle:Evenement:delete }
    requirements:
        id: \d*
    
bds_evenement_edit:
    path:     /{domaine}/evenement/edit/{id}
    defaults: { _controller: BDSEvenementBundle:Evenement:edit }
    requirements:
        id: \d*
        
bds_evenement_calendrier:
    path:     /{domaine}/evenement/calendrier
    defaults: { _controller: BDSEvenementBundle:Evenement:calendar }
    
bds_evenement_feuille:
    path:     /{domaine}/evenement/{id}/feuilleDeMatche
    defaults: { _controller: BDSEvenementBundle:Evenement:feuille }
    
bds_evenement_map:
    path:   /{domaine}/map/form
    defaults: {_controller: BDSEvenementBundle:Map:Form }
