bds_evenement_index:
    path:     /{nom}/evenement/{page}
    defaults: { _controller: BDSEvenementBundle:Evenement:index, page: 1 }
    requirements:
        page: \d*
    
    
bds_evenement_view:
    path:     /{nom}/evenement/view/{id}/{affichage}
    defaults: { _controller: BDSEvenementBundle:Evenement:view, affichage: 'drag_n_drop' }
    requirements:
        id: \d*
    
bds_evenement_add:
    path:     /{nom}/evenement/add
    defaults: { _controller: BDSEvenementBundle:Evenement:add }
    
bds_evenement_delete:
    path:     /{nom}/evenement/delete/{id}
    defaults: { _controller: BDSEvenementBundle:Evenement:delete }
    requirements:
        id: \d*
    
bds_evenement_edit:
    path:     /{nom}/evenement/edit/{id}
    defaults: { _controller: BDSEvenementBundle:Evenement:edit }
    requirements:
        id: \d*
    
bds_evenement_feuille:
    path:     /{domaine}/evenement/{id}/feuilleDeMatche
    defaults: { _controller: BDSEvenementBundle:Evenement:feuille }
    
bds_evenement_map:
    path:   /{domaine}/map/form
    defaults: {_controller: BDSEvenementBundle:Map:Form }

bds_evenement_calendrier:
    path:     /{domaine}/calendrier
    defaults: {_controller: BDSEvenementBundle:Evenement:calendrier }
    requirements:
        annee: \d*
