services:
#    bds_evenement.example:
#        class: BDS\EvenementBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]

    bds_evenement.manager:
        class:      BDS\EvenementBundle\Manager\EvenementManager
        arguments:  [ @doctrine.orm.entity_manager ]  
        
    bds_evenement.listener:
        class:      BDS\EvenementBundle\Manager\EventListener
        arguments:  [ @doctrine.orm.entity_manager, @bds_evenement.manager ]
        tags: 
            - { name: kernel.event_listener, event: calendar.load_events, method: loadEvents }
